*{
    margin:0;
    padding:0;
}

body{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vw;

    .parallax-completo{
        width:100%;
        height: 100vh;
        background-image: url(/teoria18/image/paisaje1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;  /* fondo queda anclado */
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;

        .texto-completo{
            background-color: rgba(0, 0, 0, 0.5);
            padding:20px;
            width: 15%;
            text-align: center;
            color: white;
            border-radius: 20px;

            h2{
                font-size: 4vw;
                font-weight: bold;
            }
        }
    }
    .centrar{
        width:90%;
        overflow: hidden;

        h2{
            text-align: center;
            padding: 15px;
            font-size: 3vw;
            
            p{
                padding: 1.8px;
                font-size: 12vw;
                padding-bottom: 40px;
            }
        }
    }
    .parallax-child{
        height: 500px;
        background-image: url(/teoria18/image/paisaje2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;  /* fondo queda anclado */
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;

        h2{
            font-size: 4vw;
            font-weight: bold;
            padding: 20px;
            color: black;
            border-radius: 12px;
            background-color: rgba(0, 0, 0, 0.5);
            
        }
    }
    .parallax-child2{
        height: 500px;
        background-image: url(/teoria18/image/paisaje3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;  /* fondo queda anclado */
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;

        h2{
            font-size: 4vw;
            font-weight: bold;
            padding: 20px;
            color: black;
            border-radius: 12px;
            background-color: rgba(240, 152, 232,.5);
            
        }
    }
    .parallax-child3{
        height: 500px;
        background-image: url(/teoria18/image/paisaje4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;  /* fondo queda anclado */
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;

        h2{
            font-size: 4vw;
            font-weight: bold;
            padding: 20px;
            color: black;
            border-radius: 12px;
            background-color: rgba(155, 238, 38,.5);
            
        }
    }
    .foot{
        width: 100%;
        padding: 40px;
        color: white;
        background-color: black;
        text-align: center;
        padding-left: 0%;
    }
}