*{
    margin:0;
    padding:0;
}
image{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(27, 39, 55);
    background-image: url(/practica3/image/music.png);
    background-repeat: repeat;
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
    flex-direction: column;
    
    header{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 6vw ;
    
        h1{
            background-color: rgba(7, 0, 0, 0.666);
            font-size: 6.5vw;
            font-weight: bolder;
            color: rgb(245, 253, 81);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-shadow:.4vw .4vw rgba(250, 3, 3, 0.877); 
            text-decoration: rgb(213, 11, 11);
            text-align: center;
            border: 2px solid goldenrod;
                    border-radius: 4vw;
            padding: 0 1vw 0 1vw;
            box-sizing: border-box;
        }
    }
    section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(7, 0, 0, 0.768);
        border: 2px solid goldenrod;
        border-radius: 4vw;
        padding: 1.5vw .9vw 1vw .9vw;
        box-sizing: border-box;
        width: 80%;
        height: auto;
        margin-top: 5vw;

        div{
            display:inline-flex;
            justify-content: center;
            align-items: center;
            
            a{
                img{
                    height: 18vw;
                    border: 2px solid goldenrod;
                    border-radius: 4vw;
                    
                }
            }

        }
        div:hover{
            a{
                img{
                    height: 16vw;
                    border: 4px solid rgb(238, 39, 39);
                    border-radius: 6vw;
                    
                }
            }
        }
    }
    
    #enlace{
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        background-color: black;
        width: 100%;
        margin: 0%;
        margin-top: 7vw;
        height:auto;
        border: none;
        padding: none;

        >div{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 30%;
        height: 3.5vw;
        font-size: 3vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
        font-weight: bold;
        border-radius: 20px;
        border: .1px solid black;
        background-color: rgba(136, 131, 228, 0.5);
        }

        a{
            color:rgb(255, 247, 0);
            text-decoration: none;
        }

        >div:hover{
                background-color: rgba(211, 4, 4, 0.4);
            
                a{
                    color:rgb(11, 255, 51);
                }
        }
    }
}

