body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: auto;
}

body section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 140vw;
}

body section canvas {
  position: absolute;
  width: 100%;
  height: 140vw;
  padding: 0;
  margin: 0;
}

body section div.btnbg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 10%;
  top: 30vh;
  width: 80%;
  height: auto;
}

body section div.btnbg > div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3vh;
  background: repeating-linear-gradient(to top left, transparent, transparent 5em, #96526B 5em, #96526B 10em, transparent 10em, transparent 15em, #F5CF66 15em, #F5CF66 20em), repeating-linear-gradient(to top right, transparent, transparent 5em, #EBAD60 5em, #EBAD60 10em, transparent 10em, transparent 15em, #8BAB8D 15em, #8BAB8D 20em), wheat;
  background-blend-mode: multiply;
}

body section div.btnbg > div:first-child {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 70%;
  height: auto;
  background-color: rgba(157, 123, 252, 0.3);
  border-radius: 2vw;
  border: .5px solid black;
  border-top: unset;
}

body section div.btnbg > div:first-child > div:first-child {
  background-color: rgba(4, 25, 97, 0.7);
  width: 90%;
  font-size: 3.5vw;
  color: white;
  border: 1px #272626 solid;
  border-radius: 50%;
  text-align: center;
  margin-top: -1.7vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

body section div.btnbg > div:first-child > div:nth-child(2) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  height: auto;
  margin-top: 4vw;
  margin-bottom: 4vw;
}

body section div.btnbg > div:first-child > div:nth-child(2) > div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 17%;
  height: 5vw;
  background-color: rgba(232, 148, 39, 0.8);
  border-radius: .5vw;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.3vw;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  color: whitesmoke;
  padding-left: .5vw;
  padding-right: .5vw;
  margin: 1vh;
}

body section div.btnbg > div:first-child > div:nth-child(2) > div a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}

body section div.btnbg > div:first-child > div:nth-child(2) > div a:hover {
  color: orangered;
  font-size: 1.33vw;
}

body section div.btnbg > div:first-child > div:nth-child(2) div:hover {
  background-color: rgba(45, 213, 120, 0.5);
  font-size: 1.5vw;
}

body section div.btnbg > div:nth-child(2) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(196, 47, 209, 0.5);
  width: 20%;
  height: auto;
  font-weight: bold;
  border: .5px black solid;
  border-radius: 2vw;
  text-align: center;
  color: white;
}

body section div.btnbg > div:nth-child(2) div:first-child {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body section div.btnbg > div:nth-child(2) div:nth-child(2) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  height: 15vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

body section div.btnbg > div:nth-child(2) div:nth-child(2) img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

body section div.btnbg > div:nth-child(2) div:nth-child(3) {
  width: 100%;
  margin-bottom: 1vw;
}

@media screen and (max-width: 920px) {
  body {
    padding: 0;
    margin: 0;
    overflow: auto;
    height: auto;
  }
  body section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: auto;
  }
  body section > canvas {
    position: absolute;
    width: 100%;
    height: 310vh;
    padding: 0;
    margin: 0;
  }
  body section div.btnbg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 2%;
    top: 2vh;
    width: 90%;
    height: auto;
  }
  body section div.btnbg > div {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
    background: repeating-linear-gradient(to top left, transparent, transparent 5em, #96526B 5em, #96526B 10em, transparent 10em, transparent 15em, #F5CF66 15em, #F5CF66 20em), repeating-linear-gradient(to top right, transparent, transparent 5em, #EBAD60 5em, #EBAD60 10em, transparent 10em, transparent 15em, #8BAB8D 15em, #8BAB8D 20em), wheat;
    background-blend-mode: multiply;
  }
  body section div.btnbg > div:first-child {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 85%;
    height: auto;
    background-color: rgba(157, 123, 252, 0.3);
    border-radius: 2vw;
    border: .5px solid black;
    border-top: unset;
    margin-top: 5vh;
  }
  body section div.btnbg > div:first-child > div:first-child {
    background-color: rgba(4, 25, 97, 0.7);
    width: 90%;
    font-size: 7vw;
    color: white;
    border: 1px #272626 solid;
    border-radius: 50%;
    text-align: center;
    margin-top: -1.7vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  body section div.btnbg > div:first-child > div:nth-child(2) {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  body section div.btnbg > div:first-child > div:nth-child(2) > div {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 40%;
    height: 10vw;
    background-color: rgba(232, 148, 39, 0.8);
    border-radius: .5vw;
    box-sizing: border-box;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    color: whitesmoke;
    padding-left: .5vw;
    padding-right: .5vw;
    margin: 1vh;
  }
  body section div.btnbg > div:first-child > div:nth-child(2) > div a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
  }
  body section div.btnbg > div:first-child > div:nth-child(2) > div a:hover {
    color: orangered;
    font-size: 1.33vw;
  }
  body section div.btnbg > div:first-child > div:nth-child(2) div:hover {
    background-color: rgba(45, 213, 120, 0.5);
    font-size: 1.5vw;
  }
  body section div.btnbg > div:nth-child(2) {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: rgba(196, 47, 209, 0.5);
    width: 40%;
    height: auto;
    font-weight: bold;
    border: .5px black solid;
    border-radius: 2vw;
    text-align: center;
    color: white;
    margin-top: 5vh;
  }
  body section div.btnbg > div:nth-child(2) div:first-child {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body section div.btnbg > div:nth-child(2) div:nth-child(2) {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 90%;
    height: 25vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  body section div.btnbg > div:nth-child(2) div:nth-child(2) img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  body section div.btnbg > div:nth-child(2) div:nth-child(3) {
    width: 100%;
    margin-bottom: 1vw;
  }
}

@media screen and (max-width: 420px) {
  body {
    padding: 0;
    margin: 0;
    overflow: auto;
    height: auto;
  }
  body section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: auto;
  }
  body section canvas {
    position: absolute;
    width: 100%;
    height: 320vh;
    padding: 0;
    margin: 0;
  }
  body section div.btnbg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 2%;
    top: 2vh;
    width: 96%;
    height: auto;
  }
  body section div.btnbg > div {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background: repeating-linear-gradient(to top left, transparent, transparent 5em, #96526B 5em, #96526B 10em, transparent 10em, transparent 15em, #F5CF66 15em, #F5CF66 20em), repeating-linear-gradient(to top right, transparent, transparent 5em, #EBAD60 5em, #EBAD60 10em, transparent 10em, transparent 15em, #8BAB8D 15em, #8BAB8D 20em), wheat;
    background-blend-mode: multiply;
  }
  body section div.btnbg > div:first-child {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 95%;
    height: auto;
    background-color: rgba(157, 123, 252, 0.3);
    border-radius: 2vw;
    border: .5px solid black;
    border-top: unset;
  }
  body section div.btnbg > div:first-child > div:first-child {
    background-color: rgba(4, 25, 97, 0.7);
    width: 90%;
    font-size: 7vw;
    color: white;
    border: 1px #272626 solid;
    border-radius: 50%;
    text-align: center;
    margin-top: -1.7vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  body section div.btnbg > div:first-child > div:nth-child(2) {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  body section div.btnbg > div:first-child > div:nth-child(2) > div {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 80%;
    height: 15vw;
    background-color: rgba(232, 148, 39, 0.8);
    border-radius: .5vw;
    box-sizing: border-box;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    color: whitesmoke;
    padding-left: .5vw;
    padding-right: .5vw;
    margin: 1vh;
  }
  body section div.btnbg > div:first-child > div:nth-child(2) > div a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
  }
  body section div.btnbg > div:first-child > div:nth-child(2) > div a:hover {
    color: orangered;
    font-size: 5.2vw;
  }
  body section div.btnbg > div:first-child > div:nth-child(2) div:hover {
    background-color: rgba(45, 213, 120, 0.5);
    font-size: 1.5vw;
  }
  body section div.btnbg > div:nth-child(2) {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: rgba(196, 47, 209, 0.5);
    width: 70%;
    height: auto;
    font-weight: bold;
    border: .5px black solid;
    border-radius: 2vw;
    text-align: center;
    color: white;
    font-size: 2vh;
  }
  body section div.btnbg > div:nth-child(2) div:first-child {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body section div.btnbg > div:nth-child(2) div:nth-child(2) {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 90%;
    height: 50vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  body section div.btnbg > div:nth-child(2) div:nth-child(2) img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  body section div.btnbg > div:nth-child(2) div:nth-child(3) {
    width: 100%;
    margin-bottom: 1vw;
  }
}
/*# sourceMappingURL=estilos.css.map */