* {
  margin: 0;
  padding: 0;
}

a {
  color: #0a0000;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Georgia;
  background: repeating-linear-gradient(to top left, beige 0, beige 2em, moccasin 2em, moccasin 4em, wheat 4em, wheat 6em), repeating-linear-gradient(to left, white 0, white 2em, wheat 2em, wheat 4em, beige 4em, beige 6em), white;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}

body section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin-left: 5%;
}

body section div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

body section > div:first-child {
  width: 45%;
  font-size: 3vw;
  font-weight: bold;
  border-radius: 20px;
  border: .1px solid black;
  padding: 1vh 0 1vh 0;
  margin-top: 5vw;
  background: -webkit-gradient(linear, left top, left bottom, from(limegreen), to(transparent)), -webkit-gradient(linear, left top, right top, from(skyblue), to(transparent)), -webkit-gradient(linear, right top, left top, from(coral), to(transparent));
  background: linear-gradient(limegreen, transparent), linear-gradient(90deg, skyblue, transparent), linear-gradient(-90deg, coral, transparent);
  background-blend-mode: screen;
}

body section > div:nth-child(2) {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 5vw;
}

body section > div:nth-child(2) > div {
  width: 22%;
  font-size: 2.5vw;
  border: .5px solid black;
  border-radius: 20px;
  padding: 1vh 0 1vh 0;
  background: -webkit-gradient(linear, left top, left bottom, from(limegreen), to(transparent)), -webkit-gradient(linear, left top, right top, from(skyblue), to(transparent)), -webkit-gradient(linear, right top, left top, from(coral), to(transparent));
  background: linear-gradient(limegreen, transparent), linear-gradient(90deg, skyblue, transparent), linear-gradient(-90deg, coral, transparent);
  background-blend-mode: screen;
}

body section > div:nth-child(2) > div:hover {
  background-color: rgba(211, 4, 4, 0.4);
  background-image: none;
  font-weight: bold;
}

body section > div:nth-child(3) {
  width: 45%;
  font-size: 3vw;
  margin-bottom: 5vh;
  font-weight: bold;
  border-radius: 20px;
  border: .1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1vh 0 1vh 0;
  margin-top: 5vw;
}

body section > div:hover:nth-child(3) {
  background-color: rgba(211, 4, 4, 0.4);
  font-weight: bold;
}

body #enlace {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: black;
  width: 100%;
  margin-top: 7vw;
  height: auto;
  border: none;
  padding: none;
}

body #enlace > div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 30%;
  height: 6.5vw;
  font-size: 3vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  font-weight: bold;
  border-radius: 20px;
  border: .1px solid black;
  background-color: rgba(136, 131, 228, 0.5);
}

body #enlace a {
  color: #fff700;
  text-decoration: none;
}

body #enlace > div:hover {
  background-color: rgba(211, 4, 4, 0.4);
}

body #enlace > div:hover a {
  color: #0bff33;
}
/*# sourceMappingURL=estilos_index.css.map */