img{
    width: 100%;
    height: 100%;
}

/* *************************************************************************
Header que incluye el titulo y contenido en resumen.  ************************************************************************* */
h1{ 
    display: flex;
    justify-content: center; /* centrar horizontalmente */
    align-items: center;  /* centrar vertical */
    width: 80%;
    height:auto;
    margin-left: 10%;
    
    
        #titulo{
            display: inline-flex;
            justify-content: space-evenly;  /* centrar horizontalmente */
            align-items: center;
            border: 3px dashed rgb(87, 178, 226);
            background-color: white;
            width: 37%;
            height: 60px;
            font-family: 'Abril Fatface', cursive;
            font-weight: bold;
            box-sizing: border-box;
            div{
                display: inline-flex;
                justify-content: space-evenly;  /* centrar horizontalmente */
                align-items: center;
                box-sizing: border-box;
            }
        }
        #contenido{
            display: inline-flex;
            justify-content: space-evenly;  /* centrar horizontalmente */
            align-items: center;
            border: 3px dashed rgb(87, 178, 226);
            background-color: white;
            width: 60.8%;
            height: 54px;
            div{
                display: inline-flex;
                justify-content: space-evenly;  /* centrar horizontalmente */
                align-items: center;
                width: 65%;
                margin-left: 33%;
                box-sizing: border-box;
                div{
                    display: inline-flex;
                    justify-content: space-evenly;  /* centrar horizontalmente */
                    align-items: center;
                    width: 29%;
                    margin-left: 1.5%;
                    font-family:Arial, Helvetica, sans-serif;
                    font-size: .8vw;
                    box-sizing: border-box;
                    color: blue;
                }
            }
        }  
}
/* *************************************************************************
Esta area es para el contenido  ************************************************************************* */
section{
    background-color: rgb(170, 170, 170);
    width: 80%;
    height:auto;
    margin-left: 10%;
    margin-top: 1%;
    vertical-align: top;
    #boxmain1{
        display: flex;
        justify-content: center; /* centrar horizontalmente */
        align-items: center;  /* centrar vertical */

        #box1{
            display: inline-block;
            border: 3px dashed rgb(87, 178, 226);
            width: 32%;
            height: auto;
            margin-top: 5vw;

            div{
                display: inline-flex;
                justify-content: center; /* centrar horizontalmente */
                align-items: center;  /* centrar vertical */
                width: 95%;
                height: auto;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                margin-top: 1vw;
                margin-bottom: 1vw;
                margin-left: 2%;
                font-size: 2vw;

                div{
                    display: inline-block;
                    width: 45%;
                    height: 15vw;
                    border: 5px solid black;
                    border-radius: 10px;
                    margin-bottom: 5px;                
                    box-sizing: border-box;
                    font-size: 1vw;
                }
            }
            div:nth-child(2) {
                font-size: .7vw;
                margin-top:5px;
                vertical-align: top;
            }
            div:nth-child(4) {
            color: blue;
            font-weight: normal;
            font-size: .8vw;
            }
        }
    }
    #boxmain2{
        display: flex;
        justify-content: center; /* centrar horizontalmente */
        align-items: center;  /* centrar vertical */
        vertical-align: top;
        #box2a{
            display: inline-block;
            border: 3px dashed rgb(87, 178, 226);
            width: 48.8%;
            height: auto;
            margin-top: 1vw;
            margin-bottom: 3vw;

            div{
                display: inline-block;
                justify-content: center;  /* centrar horizontalmente */
                align-items: center;  /* centrar vertical */
                width: 95%;
                height: auto;
                font-family: Arial, Helvetica, sans-serif;
                font-size: .8vw;
                margin-bottom: 5px;
                margin-left: 2%;

                 /* Customize the label (the container) */
                .container {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
                
                /* Hide the browser's default radio button */
                .container input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }
                
                /* Create a custom radio button */
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: #eee;
                    border-radius: 50%;
                }
                
                /* On mouse-over, add a grey background color */
                .container:hover input ~ .checkmark {
                    background-color: #ccc;
                }
                
                /* When the radio button is checked, add a blue background */
                .container input:checked ~ .checkmark {
                    background-color: #2196F3;
                }
                
                /* Create the indicator (the dot/circle - hidden when not checked) */
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                
                /* Show the indicator (dot/circle) when checked */
                .container input:checked ~ .checkmark:after {
                    display: block;
                }
                
                /* Style the indicator (dot/circle) */
                .container .checkmark:after {
                    top: 9px;
                    left: 9px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: white;
                } 
            }
            
        }
        #box2b{
            display: inline-block;
            border: 3px dashed rgb(87, 178, 226);
            width: 48.8%;
            height: auto;
            margin-top: 1vw;
            margin-bottom: 3vw;
            margin-left: 1%;
            padding-bottom: 4.3vw;

            div{
                display: inline-flex;
                justify-content: space-evenly;  /* centrar horizontalmente */
                align-items: center;  /* centrar vertical */
                width: 95%;
                height: auto;
                font-family: Arial, Helvetica, sans-serif;
                font-size: .8vw;
                vertical-align: top;
                margin-bottom: 5px;
                margin-left: 2%;
                
                }
            span{
                display: inline-flex;
                justify-content: space-evenly;  /* centrar horizontalmente */
                align-items: center;  /* centrar vertical */
                border: 1px solid rgb(238, 238, 238);
                flex: 1;
                height: 2.5vw;
                font-size: 1vw;
            }
            span:first-child{
                flex:2;
            }
            span:nth-child(3){
                flex: 1.5;
            }
            div:nth-child(2){
                margin-top: 0%;
                margin-bottom: 0%;
                background-color: green;
            }
            div:nth-child(3){
                margin-top: 0%;
                margin-bottom: 0%;
            }
            div:nth-child(4){
                margin-top: 0%;
                margin-bottom: 0%;
            }
            
        }
    }
}

/* ******************************************************************* Footer con informacion del Autor.  ******************************************************************** */

footer{
    display: flex;
    justify-content: center; /* centrar horizontalmente */
    align-items: center;  /* centrar vertical */
    background-color: rgb(255, 255, 255);
    border: 3px dashed rgb(87, 178, 226);
    box-sizing: border-box;
    width: 80%;
    height:auto;
    margin-left: 10%;

    div {
        display: flex;
        justify-content: center; /* centrar horizontalmente */
        align-items: center;  /* centrar vertical */
        width: 95%;
        height: auto;

        div{
            display: inline-flex;
            justify-content: center; /* centrar horizontalmente */
            align-items: center;  /* centrar vertical */
            width: 20%;
            height:auto;
            font-size: 1vw;
            font-weight: bold;
            padding-top: .5vw;
            padding-bottom: .5vw;
        }
        
    }
}