*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(/js/seccion_1/practica_1/image/carbon1.jpg);
    background-repeat: repeat;
    background-size: cover;
    color: black;

    h1{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        color: white;
        font-size: 7vw;
        margin-top:8vw ;

    }
    p{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        color: white;
        font-size: 7vw;
    }
}