*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(/js/seccion_1/practica_3/image/bizcuit.jpg);
    background-repeat: repeat;
    background-size: cover;
    color: black;

    h1{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        color: rgb(0, 0, 0);
        font-size: 4vw;
        margin-top:8vw ;

    }
}