img {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
}

/* *************************************************************************
Header que incluye el titulo y contenido en resumen.  ************************************************************************* */
h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* centrar horizontalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* centrar vertical */
  width: 80%;
  height: auto;
  margin-left: 10%;
}

h1 #titulo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* centrar horizontalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px dashed #57b2e2;
  background-color: white;
  width: 37%;
  height: 60px;
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 #titulo div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* centrar horizontalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 #contenido {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* centrar horizontalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px dashed #57b2e2;
  background-color: white;
  width: 60.8%;
  height: 54px;
}

h1 #contenido div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* centrar horizontalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  margin-left: 33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 #contenido div div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* centrar horizontalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29%;
  margin-left: 1.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: blue;
}

/* *************************************************************************
Esta area es para el contenido  ************************************************************************* */
section {
  background-color: #aaaaaa;
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-top: 1%;
  vertical-align: top;
}

section #boxmain1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* centrar horizontalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* centrar vertical */
}

section #boxmain1 #box1 {
  display: inline-block;
  border: 3px dashed #57b2e2;
  width: 32%;
  height: auto;
  margin-top: 5vw;
}

section #boxmain1 #box1 div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* centrar horizontalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* centrar vertical */
  width: 95%;
  height: auto;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 2%;
  font-size: 2vw;
}

section #boxmain1 #box1 div div {
  display: inline-block;
  width: 45%;
  height: 15vw;
  border: 5px solid black;
  border-radius: 10px;
  margin-bottom: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1vw;
}

section #boxmain1 #box1 div:nth-child(2) {
  font-size: .7vw;
  margin-top: 5px;
  vertical-align: top;
}

section #boxmain1 #box1 div:nth-child(4) {
  color: blue;
  font-weight: normal;
  font-size: .8vw;
}

section #boxmain2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* centrar horizontalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* centrar vertical */
}

section #boxmain2 #box2a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 3px dashed #57b2e2;
  width: 48.8%;
  height: auto;
  margin-top: 1vw;
  margin-bottom: 3vw;
  border: 1px solid red;
}

section #boxmain2 #box2a div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid red;
  background-color: aquamarine;
  width: 95%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8vw;
  margin-bottom: 1vw;
  margin-left: 2%;
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}

section #boxmain2 #box2a div .container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  padding-left: 3vw;
  margin-bottom: 1vw;
  cursor: pointer;
  font-size: 1.5vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section #boxmain2 #box2a div .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

section #boxmain2 #box2a div .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5vw;
  width: 1.5vw;
  background-color: #eee;
  border-radius: 50%;
}

section #boxmain2 #box2a div .container:hover input ~ .checkmark {
  background-color: #ccc;
}

section #boxmain2 #box2a div .container input:checked ~ .checkmark {
  background-color: #2196F3;
}

section #boxmain2 #box2a div .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

section #boxmain2 #box2a div .container input:checked ~ .checkmark:after {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

section #boxmain2 #box2a div .container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

section #boxmain2 #box2b {
  display: inline-block;
  border: 3px dashed #57b2e2;
  width: 48.8%;
  height: auto;
  margin-top: 1vw;
  margin-bottom: 3vw;
  margin-left: 1%;
  padding-bottom: 4.3vw;
}

section #boxmain2 #box2b div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* centrar horizontalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* centrar vertical */
  width: 95%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8vw;
  vertical-align: top;
  margin-bottom: 5px;
  margin-left: 2%;
}

section #boxmain2 #box2b div div {
  display: inline-block;
  border: 1px solid red;
  width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8vw;
  vertical-align: top;
  margin: 0%;
}

section #boxmain2 #box2b div div #name {
  display: inline;
  text-align: none;
  margin-right: 55%;
}

section #boxmain2 #box2b div div #content {
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  width: 80%;
  height: 3vw;
  margin-left: 15%;
  font-size: .6vw;
  font-family: Arial, Helvetica, sans-serif;
}

section #boxmain2 #box2b div div #content div {
  display: inline;
  text-align: none;
  margin-right: 55%;
  margin-top: 1vw;
}

section #boxmain2 #box2b div span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* centrar horizontalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* centrar vertical */
  border: 1px solid #eeeeee;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 2.5vw;
  font-size: 1vw;
}

section #boxmain2 #box2b div span:first-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

section #boxmain2 #box2b div span:nth-child(3) {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

section #boxmain2 #box2b div:nth-child(2) {
  margin-top: 0%;
  margin-bottom: 0%;
  background-color: green;
}

section #boxmain2 #box2b div:nth-child(3) {
  margin-top: 0%;
  margin-bottom: 0%;
}

section #boxmain2 #box2b div:nth-child(4) {
  margin-top: 0%;
  margin-bottom: 0%;
}

/* ******************************************************************* Footer con informacion del Autor.  ******************************************************************** */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* centrar horizontalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* centrar vertical */
  background-color: white;
  border: 3px dashed #57b2e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  height: auto;
  margin-left: 10%;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* centrar horizontalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* centrar vertical */
  width: 95%;
  height: auto;
}

footer div div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* centrar horizontalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* centrar vertical */
  width: 20%;
  height: auto;
  font-size: 1vw;
  font-weight: bold;
}
/*# sourceMappingURL=estilos_media2_sass.css.map */