*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url(/practica11/image/pore_orange.png);
    background-size:cover;
    background-repeat: repeat;
    background-position: center;
    
    section{
        width: 85%;
        height: auto;
        border:.5px solid black;
        margin-top: 8vw;
        background-image: url(/);

        div{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border:.5px solid black;

            div{
                background-color: cornflowerblue;
                border:.5px solid black;
                border-radius: 2vw;
            }
        }
    }

}